

.input-group {
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box; /* Ensures padding doesn't expand the element width */
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    color: #666;
}

.input-group input:focus{
    color: #222;
}

.input-group input:focus {
    border-color: #007bff; /* Focus color */
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.required-label::after {
  content: " *"; /* Add an asterisk after the label */
  color: red;   /* Make it red */
}