.logo-container{
    display: flex;
    flex-direction: row;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;;
}

.apply-text{
    color: #1A237E;
    font-size: 1rem;
}

.once-text{
    color: #26C6DA;
}

.logo-img{
    width: 3.5em;
}

.nav-item-inactive{
    color: #757575;
}

.nav-item-active{
    color: #4F46E5;
}

.nav-item:hover{
    color: #4F46E5;
}

.nav-item-active .main-content{
    background-color: #E9FFFF;
}

.nav-item:hover .divider-line {
    background-color: #4F46E5;
}

.divider-line {
  width: 100%;
  height: 2px;
  margin: 0.4em 0;
  border-radius: 1px;
  background-color: #757575;
}

.nav-item-active .divider-line {
    background-color:#4F46E5;
}

.upper-divider-line {
  width: 100%;
  height: 2px;
  margin: 0.4em 0;
}

.nav-item-active .upper-divider-line {
  border-radius: 1px;
  background-color:#4F46E5;
}