.logo-container{
    display: flex;
    flex-direction: row;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;;
}

.apply-text{
    color: #1A237E;
    font-size: 1rem;
}

.once-text{
    color: #26C6DA;
}

.logo-img{
    width: 3.5em;
}

.nav-item{
    color: #757575;
}

.nav-item:hover{
    color: #3949AB;
}

.nav-item:hover divider-line {
    border-top: 2px solid #3949AB;
    background-color: #3949AB;
}

.divider-line {
  width: 100%;
  height: 2px;
  margin: 0.5em 0;
  border-radius: 1px;
}